<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/js/user-manager.js"></script>
</head>
<body>
  <div class="index">
    <%- include('./common/header.ejs', { nickname: nickname, isAdmin: isAdmin }) %>
    <div class="container">
        <div class="menu">
            <ul class="menuList">
                <% if(isAdmin){%>
                <li><a href="/user-manager" >用户管理</a></li>
                <% }%>
                <li><a href="/mobile-manager.html" style="color:skyblue" > 手机管理</a></li>
                <li><a href="##">品牌管理</a></li>
            </ul>
        </div>
      <div class="main">
         
        <div class="addPhone">新增手机</div>
        <table>
          <thead>
            <tr>
              <th>序号</th>
              <th>图片</th>
              <th>手机名称</th>
              <th>所属品牌</th>
              <th>官方指导</th>
              <th>二手回收价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
                <% for (var i=0;i<phoneList.length;i++){%>
                  </tr>
                        <td class="Id"><%-phoneList[i]._id %></td>
                        <td class="username"><img src="/mobiles/<%- phoneList[i].src%>"</td>
                        <td class="nickname"><%- phoneList[i].phonename %></td>
                        <td class="nickname"><%- phoneList[i].branchType %></td>
                        <td class="nickname"><%- phoneList[i].newPrice %></td>
                        <td><%- phoneList[i].newTwoprice%></td>
                        <td>
                          <a href="##">修改</a>
                          <a href="##">删除</a>
                        </td>
                      </tr>
                <% } %>
           
          </tbody>
        </table>
        <!-- 实现分页 -->
        <ul class="paging">
            <% if(totalPage==''){ %>
                <a href="/mobile-manager" class="active" style="color:#000;text-decoration:none;" >查看全部</a>
              <% }else{ %>
                <% for (var i=0; i< totalPage;i++) { %>
                 <li>
                   <a href="/mobile-manager?page=<%= i+1 %>" class="active" ><%= i+1%>页</a>
                 </li>
                 <% } %>
                <% } %>
           </ul>
           <!-- 实现用户信息的修改 -->
         <form action="/phone/Insert" method="POST" enctype="multipart/form-data" class="updataNews" >
          <h2>新增手机</h2>
           <p>
               <label>名称：</label>
               <input type="text" class="newUsername" name="phonename" >
           </p>
           <p>
               <label>品牌：&nbsp;&nbsp;&nbsp;： </label>
               <select name="branchType" id="" class="branchType">
                 <option>苹果</option>
                 <option>小米</option>
                 <option>魅族</option>
               </select>
           </p>
           <p>
               <label>官方指导价：</label>
               <input type="text" class="newPhone" name="newPrice">
           </p>
           <p>
              <label>二手回收价：</label>
              <input type="text" class="priceE" name="newTwoprice">
          </p>
          <p>
              <label>图片</label>
              <input type="file" class="imgSrc" name="src">
          </p>
           <p class="btsp">
             <button class="adbtn">确认修改</button>
             <button class="btn">取消</button>
           </p>
       </form>
        </div>
      </div>
    </div>
</body>
</html>
<script>
    $('.addPhone').click(function(){
      // console.log(2);
      $('.updataNews').show();
  })
    $('.btn').click(function(){
      $('.updataNews').hide();
    })
  </script>